<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opprett bruker</title>
    <!-- Add Bootstrap CSS link -->
    <%- include('../components/headers.ejs') %>
      <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/public/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/public/plugins/toastr/toastr.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <%- include('../components/navbar') %>
        <%- include('../components/sidebar') %> 

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">Hjem</a></li>
                    <li class="breadcrumb-item"><a href="/rules">Rules</a></li>
                    <li class="breadcrumb-item active">Opprett</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.container-fluid -->
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                              <h3 class="card-title d-flex justify-content-between align-items-center">
                                Create Rule
                              </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div id="infoBox" class="alert" role="alert" style="display: none;"></div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-9">
                                            <form id="createRuleForm">
                                                <div class="input-group form-group mb-3">
                                                    <div class="input-group-prepend">
                                                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Navn" name="name" id="name">
                                                  </div>
                                                <div class="input-group form-group mb-3">
                                                    <div class="input-group-prepend">
                                                      <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" placeholder="Charge" name="charge" id="charge">
                                                  </div>

                                                  <div class="input-group form-group mb-3">
                                                    <div class="input-group-prepend">
                                                      <span class="input-group-text"><i class="fa fa-clock"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" placeholder="Time Policy" name="policy" id="policy">
                                                  </div>
                                                <div class="d-flex justify-content-center btn-group">
                                                    <button type="button" class="btn btn-info" onclick="createRule()">Opprett</button>
                                        
                                                    <a href="/rules" class="btn btn-secondary">Avbryt</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>                    
                            </div>
                            <!-- /.card-body -->
                          </div>
                    </div>
                </div>
            </div>
    </div>

        <%- include('../components/footer') %>
    </div>

    <%- include('../components/scripts.ejs') %>
    
    <script src="/public/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/public/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/public/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
<script src="/public/plugins/toastr/toastr.min.js"></script>



    <script>
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        $('#createRuleForm').validate({
    rules: {
      name: {
        required: true,
      },
      charge: {
        required: true,
      },
      policy:{
        required: true,
      }
    },
    messages: {
      name: {
        required: "Skriv inn brukernavn",
      },
      charge: {
        required: "please enter charge",
      },
      policy: {
        required: "Enter time policy",
      }
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });

  function createRule() {
        if($('#createRuleForm').valid()){
          let name = document.querySelector('#name')
          let charge = document.querySelector('#charge')
          let policy = document.querySelector('#policy')

        fetch('/api/rules', {
            method: 'POST',
            body: JSON.stringify({
                name: name.value,
                charge: charge.value,
                policy_time: policy.value,
            }),
            headers:{
                'Content-Type':'application/json'
            }
        })
            .then(async response => {
                if (response.status == 200) {
                    Toast.fire({
                        icon: 'success',
                        title: 'Rule was created',
                    })
                    setTimeout(() =>{
                        window.location.href = '/rules';
                    },3000)
                } else {
                    Toast.fire({
                        icon: 'error',
                        title: (await response.json()).toString(),
                    })
                }
            })
            .catch(error => {
                Toast.fire({
                    icon: 'error',
                    title: error.message
                })
            });
        }
    }
    </script>

</body>
</html>
