<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brukere</title>

    <%- include('../components/headers') %>


  <!-- DataTables -->
  <link rel="stylesheet" href="/public/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/public/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/public/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">
        <%- include('../components/navbar') %>
        <%- include('../components/sidebar') %> 


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="d-flex justify-content-between w-100">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Hjem</a></li>
                    <li class="breadcrumb-item active">Rules</li>
                    </ol>

                    <div class="d-flex justify-content-end">
                        <a href="/rules/create" class="btn btn-info btn-sm mr-1">
                            <i class="fa fa-plus"></i>
                            <span>Create</span>
                        </a>
                        <button data-toggle="modal" data-target="#confirmAllDeleteModal" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                            <span>Slette alle</span>
                        </button>
                    </div>
                </div>

            </div><!-- /.container-fluid -->
            </div>


            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                              <h3 class="card-title d-flex justify-content-between align-items-center">
                                Rule data
                              </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                              <table id="example1" class="table table-bordered table-striped text-center">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Time Policy</th>
                                    <th>Charge</th>
                                    <th>Created At</th>
                                    <th>Extras</th>
                                    <th>Handlinger</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% rules.forEach(rule => { %>
                                        <tr>
                                            <td><%= rule.name %></td>
                                            <td><%= rule.policy_time %></td>
                                            <td><%= rule.charge %></td>
                                            <td><%= rule.created_at %></td>
                                            <td>
                                                <% if (rule.extras && (rule.extras.meter_receipt_number || rule.extras.meter_number || rule.extras.expiry_date || rule.extras.paid_date)) { %>
                                                    <div class="extras-column">
                                                        <% if (rule.extras.meter_receipt_number) { %>
                                                            <span class="badge badge-info">Meter Receipt Number</span>
                                                        <% } %>
                                                        <% if (rule.extras.meter_number) { %>
                                                            <span class="badge badge-info">Meter Number</span>
                                                        <% } %>
                                                        <% if (rule.extras.expiry_date) { %>
                                                            <span class="badge badge-info">Expiry Date</span>
                                                        <% } %>
                                                        <% if (rule.extras.paid_date) { %>
                                                            <span class="badge badge-info">Paid Date</span>
                                                        <% } %>
                                                    </div>
                                                <% } %>
                                            </td>
                                            <td class="controls">
                                                <a href="/rules/<%= rule._id %>/update" class="btn btn-primary btn-sm me-1">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#" data-toggle="modal" data-target="#deleteConfirmationModal<%= rule._id %>" class="btn btn-danger btn-sm ms-4">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                            
                                        <div class="modal fade" id="deleteConfirmationModal<%= rule._id %>" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Bekreft sletting</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete this rule?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                                                        <button id="confirmDeleteButton" type="button" data-dismiss="modal" class="btn btn-danger" onclick="deleteRule('<%= rule._id %>')">Slett</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            
                                    <% }); %>
                                    </tbody>
                              </table>
                            </div>
                            <!-- /.card-body -->
                          </div>
                    </div>
                </div>
            </div>
    </div>

        <%- include('../components/footer') %>
    </div>

    <div class="modal fade" id="confirmAllDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmAllDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmAllDeleteModalLabel">Delete all rules confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete all rules?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteAllRules()" id="confirmAllDeleteBtn">Slett</button>
                </div>
            </div>
        </div>
    </div>


<%- include('../components/scripts') %>

<!-- DataTables  & Plugins -->
<script src="/public/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/public/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/public/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/public/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/public/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/public/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/public/plugins/jszip/jszip.min.js"></script>
<script src="/public/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/public/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/public/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/public/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/public/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": false,
        "language": {
        "emptyTable": "Ingen data tilgjengelig",
        "infoEmpty": "Ingen data tilgjengelig Info",
        "zeroRecords": "Det er ingen samsvarende data"
        } ,
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
  </script>
<script>
    var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

    async function deleteAllRules(){
        try {
            const response = await fetch(`/api/rules`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
            });


            if (response.status === 200) {
                Toast.fire({
                    icon: 'success',
                    title: 'All rules deleted successfully'
                })
                setTimeout(() =>{
                    location.reload();
                },3000)
            } else {
                Toast.fire({
                    icon: 'error',
                    title: (await response.json()).toString()
                })
            }
        } catch (error) {
            Toast.fire({
                icon: 'error',
                title: error.message
            })
        }
    }

    async function deleteRule(ruleId) {
        try {
            const response = await fetch(`/api/rules/${ruleId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
            });


            if (response.status === 200) {
                Toast.fire({
                    icon: 'success',
                    title: 'Rule was deleted'
                })
                setTimeout(() =>{
                    location.reload();
                },3000)
            } else {
                Toast.fire({
                    icon: 'error',
                    title: (await response.json()).toString(),
                })
            }
        } catch (error) {
            Toast.fire({
                icon: 'error',
                title: error.message,
            })
        }
    }

</script>
</body>
</html>
