<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= violation.ticket_number %></title>
        <%- include('../components/headers') %>

        <style>
            *{
                padding: 0;
                margin: 0;
            }
            .box{
                background-color: #ddd;
                padding: 12px;
                border-radius: 4px;
                margin-bottom: 12px;
            }

            .title{
                color: rgb(6, 114, 209);
            }

            .info-block *{
                margin: 0;
            }

            .info-block{
                display: flex;
                flex-direction: column;
                justify-content: start;
                margin-bottom: 8px;
            }

            nav{
                background-color: #ddd !important;
                padding: 0 !important;
            }

            .images-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    margin-top: 12px;
}

.images-grid img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.pay-status{
            font-size: 50px;
            color: green;
        }

        </style>

    </head>
    <body>
        <nav class="navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav float-left">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <p>Dashboard</p>
                </a>
              </li>
            </ul>
        
        
        
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
        
              <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                  <i class="fas fa-expand-arrows-alt"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/api/logout" role="button" style="color: brown;">
                  <i class="fa fa-sign-out-alt" style="font-size: 20px;"></i>
                </a>
              </li>
            </ul>
          </nav>
        
        <div class="row p-3">
            <div class="col-lg-8">
                <div class="box">
                    <h2>Kontrolsanksjon</h2>
                    <div class="p-2">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="info-block">
                                    <h3 class="title">Ticket id</h3>
                                    <div><%= violation.ticket_number %></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="pay-status">
                                    +
                                </div>
                            </div>
                        </div>

                        <div class="info-block">
                            <h3 class="title">KID number</h3>
                            <div><%= kid_number %></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="info-block">
                                    <h3 class="title">Fra</h3>
                                    <div><%= violation.created_at %></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="info-block">
                                    <h3 class="title">Til</h3>
                                    <div><%= violation.completed_at %></div>
                                </div>
                            </div>
                        </div>

                        <div class="info-block">
                            <h3 class="title">Total</h3>
                            <div><%= total_charge %></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="info-block">
                                    <h3 class="title">Betalingsfrist</h3>
                                    <div>09.01.24</div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="info-block">
                                    <h3 class="title">Levering</h3>
                                    <div>Kjoretoy</div>
                                </div>
                            </div>
                        </div>

                        <div class="info-block">
                            <h3 class="title">Registered by</h3>
                            <div><%= violation.publisher_identifier.user_identifier %></div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <h2>Comments</h2>
                    <div class="p-2">
                        <div class="info-block">
                            <h3 class="title">Inner Comment</h3>
                            <div><%= violation.paper_comment %></div>
                        </div>
                        <div class="info-block">
                            <h3 class="title">Outter Comment</h3>
                            <div><%= violation.out_comment %></div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <h2>Overtredelse</h2>
                    <div class="p-2">
                        <% violation.rules.forEach((rule,index) =>{ %>
                            <div class="info-block">
                                <h3 class="title">Overtredelse <%= index + 1 %></h3>
                                <div><%= rule.name %></div>
                            </div>
                        <% }) %>
                    </div>
                </div>

                <div class="box">
                    <h2>KJoretoy info</h2>
                    <div class="p-2">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="info-block">
                                    <h3 class="title">Reg.nr</h3>
                                    <div><%= violation.plate_info.plate %></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="info-block">
                                    <h3 class="title">Land</h3>
                                    <div><%= violation.plate_info.land.country %> - <%= violation.plate_info.land.code %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="info-block">
                                    <h3 class="title">Merke</h3>
                                    <div><%= violation.plate_info.brand %></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="info-block">
                                    <h3 class="title">Farge</h3>
                                    <div>Sfart</div>
                                </div>
                            </div>
                        </div>
                        <div class="info-block">
                            <h3 class="title">Type</h3>
                            <div><%= violation.plate_info.type %></div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="p-2">
                        <h2>Stedsinfo</h2>
                        <div class="info-block">
                            <h3 class="title">Anlegg</h3>
                            <div>Olaf Helfstive 5</div>
                        </div>
                    </div>
                </div>

                <div class="images-grid">
                    <% violation.images.forEach((image,index) => { %>
                        <img src="<%= image.path %>" alt="car image">
                    <% }) %>
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
                <img src="<%= violation.print_paper %>" alt="Ticket Image" width="100%">
            </div>
        </div>
    </body>
</html>