<!-- cars/car_details.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= car.brand %> - Car Details</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Include Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Your custom styles can be added here -->
    <%- include('../components/headers') %>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .card {
            border: 1px solid #ced4da;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .card-header {
            background-color: #007bff;
            color: white;
            font-weight: bold;
        }

        .card-title {
            color: #007bff;
        }
    </style>

</head>
<body>

    <div class="wrapper">
        <%- include('../components/navbar') %>
        <%- include('../components/sidebar') %> 


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">Hjem</a></li>
                    <li class="breadcrumb-item"><a href="/cars">Biler</a></li>
                    <li class="breadcrumb-item"><a href="/cars"><%= car.plate_number %></a></li>
                    <li class="breadcrumb-item active">View</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.container-fluid -->
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card">
                            <div class="card-header text-center">
                                <h1><%= car.brand %> - <%= car.type %></h1>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-primary"><%= car.description %></h5>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>Plate Number:</strong> <%= car.plate_number %></p>
                                        <p><strong>Registration Type:</strong> <%= car.registeration_type %></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><strong>Start Date:</strong> <%= car.start_date %></p>
                                        <p><strong>End Date:</strong> <%= car.end_date %></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Place Information</h5>
                                    </div>
                                    <div class="card-body">
                                        <p><%= car.place.code %></p>
                                        <p><%= car.place.location %></p>
                                    </div>
                                </div>
                                <!-- Add more sections or details as needed -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

        <%- include('../components/footer') %>
    </div>


    <%- include('../components/scripts.ejs') %>
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
<script src="/plugins/toastr/toastr.min.js"></script>



<!-- Include Bootstrap JS (popper.js and jQuery dependencies are assumed to be included) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
