<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legg ny bil</title>
    <!-- Add Bootstrap CSS link -->
    <%- include('../components/headers.ejs') %>
      <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/public/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/public/plugins/toastr/toastr.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <%- include('../components/navbar') %>
        <%- include('../components/sidebar') %> 


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">Hjem</a></li>
                    <li class="breadcrumb-item"><a href="/cars">Biler</a></li>
                    <li class="breadcrumb-item active">Legge til</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.container-fluid -->
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                              <h3 class="card-title d-flex justify-content-between align-items-center">
                                Lag bil
                              </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div id="infoBox" class="alert" role="alert" style="display: none;"></div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-9">
                                            <form id="createCarForm">
                                                <div class="input-group form-group mb-3">
                                                    <div class="input-group-prepend">
                                                      <span class="input-group-text"><i class="fa fa-car"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Board Number" name="boardNumber" id="boardNumber">
                                                  </div>

                                                  <div class="d-flex justify-content-between align-items-center">
                                                    <div class="form-group w-100 mr-2">
                                                          <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                                              <input type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime"/>
                                                              <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                                                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div class="form-group w-100">
                                                          <div class="input-group date" id="toreservationdatetime" data-target-input="nearest">
                                                              <input type="text" class="form-control datetimepicker-input" data-target="#toreservationdatetime"/>
                                                              <div class="input-group-append" data-target="#toreservationdatetime" data-toggle="datetimepicker">
                                                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="input-group form-group mb-3">
                                                    <div class="input-group-prepend">
                                                      <span class="input-group-text"><i class="fa fa-registered"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Registeration Type" name="registeration" id="registeration">
                                                  </div>
                                                  <div class="input-group form-group mb-3">
                                                    <select class="form-control" placeholder="Places" name="places" id="places">

                                                    </select>
                                                  </div>

                                                  <div class="input-group form-group mb-3">
                                                    <select class="form-control" placeholder="Rank" name="rank" id="rank">
                                                        <option value="normal">Normal</option>
                                                        <option value="vip">VIP</option>
                                                        <option value="owner">Owmer</option>
                                                    </select>
                                                  </div>

                                                  <div class="btn-group d-flex justify-content-center align-items-center">
                                                    <button type="button" onclick="createCar()" class="btn btn-info">Legge til</button>
                                                    <a href="/cars" class="btn btn-secondary" >Avbryt</a>
                                                </div>
                                                
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>                    
                            </div>
                            <!-- /.card-body -->
                          </div>
                    </div>
                </div>
            </div>
    </div>

        <%- include('../components/footer') %>
    </div>

    <%- include('../components/scripts.ejs') %>
    
    <script src="/public/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/public/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/public/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
<script src="/public/plugins/toastr/toastr.min.js"></script>



    <script src="/public/scripts/cars/initialize_fields.js"></script>
    <script src="/public/scripts/cars/create_car_validator.js"></script>
    <script src="/public/scripts/cars/initialize_places.js"></script>
    <script src="/public/scripts/cars/create_car_logic.js"></script>

</body>
</html>